#!/usr/bin/make -f

%:
	dh $@ --with bash-completion

override_dh_auto_configure:
	dh_auto_configure -- \
		-Dbuildtype=release \
		-Dwarning_level=2

override_dh_auto_build:
	dh_auto_build
	dh_auto_build --builddirectory=build-lib --sourcedir=. -- \
		-Ddefault_library=shared

override_dh_auto_install:
	dh_auto_install
	dh_auto_install --builddirectory=build-lib --sourcedir=. --destdir=debian/tmp

override_dh_install:
	dh_install --list-missing
	# Install library files
	dh_install -plibfindmax1 usr/lib/libfindmax.so.*
	dh_install -plibfindmax-dev usr/lib/libfindmax.so usr/lib/libfindmax.a usr/include usr/lib/pkgconfig
	# Install main binary and documentation
	dh_install -pfindmax usr/bin usr/share/man usr/share/bash-completion

override_dh_clean:
	dh_clean
	rm -rf build-lib
